{% extends 'main.html' %}

{% block content %}
<div class="container-fluid mt-0 pl-0 h-100">
  <div class="row d-flex">
    <div class="col-3 px-0">
      <!-- Блок фидов -->
      <div class="p-3 h-100">
        <ul class="list-group">
          {% for feed in feeds %}
          {% if feed.id == selected_feed.id %}
          <li class="list-group-item lead border-0"><a href="/{{ selected_board.slug }}/{{ feed.slug }}" class="text-primary p-1">{{ feed.title }}</a></li>
          {% else %}
          <li class="list-group-item lead border-0"><a href="/{{ selected_board.slug }}/{{ feed.slug }}" class="text-secondary text-decoration-none p-1">{{ feed.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-4 mt-2">
      <!-- Блок статей -->
      <div class="card border-0 h-100">
        <div class="card-body">
          <ul class="list-group">
            {% for article in articles %}
            <li class="list-group-item border-0">
              {% if article.is_read %}
              <a href="/{{ selected_board.slug }}/{{ selected_feed.slug }}/{{ article.slug }}" class="article-link text-secondary text-decoration-none">{{ article.title }}</a><div class="time">{{ article.published|date:'d.m H:i' }}</div>
              {% else %}
              <a href="/{{ selected_board.slug }}/{{ selected_feed.slug }}/{{ article.slug }}" class="article-link text-primary text-decoration-none">{{ article.title }}</a><div class="time">{{ article.published|date:'d.m H:i' }}</div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-5 my-4">
      <!-- Блок выбранной статьи -->
      <div class="card h-100">
        <div class="card-body">
          {% if not is_article_selected %}
          <h2 class="card-title">{{ selected_feed.title }}</h2>
          <div>{{ selected_feed.subtitle }}</div>
          <hr>
          <div id="output">Выберите статью...</div>
          {% else %}
          <p><img src="{{ selected_article.thumbnail }}" class="img-fluid d-block"></p>
          <h3>{{ selected_article.title }}</h3>
          <hr>
          <div>{{ selected_article.description|safe }}</div>
          <p><a target="_blank" href="{{ selected_article.url }}">Перейти на сайт...</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
